body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(205, 10, 49);
  padding: 25px;
  text-align: left;
  font-size: 35px;
  color: white;
}
section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  background: rgb(57, 55, 55);
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #f1f1f1;
}

li {
  display: inline;
  padding: 10px;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

.bigPadding {
  width:800px;
  height:400px;
  padding: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(57, 55, 55);
  padding: 10px;
  text-align: left;
  color: white;
}